.Sign1 {
    border-radius: 10px;
    width:115px ;
    height:38px ;
    background-color:#FFD43A ;
    border: 0px;
}
.Sign1:hover {
    background-color:#8CFF98 ;
}


.Sign2 {
    border-radius: 10px;
    width:285px ;
    height:36px ;
    background-color:#000000;
    border: 0px;
    color:#FFFFFF ;
    margin-top: 10px;
}
.Sign2:hover{
    background-color:#D3D3D3 ;
}


.Sign3 {
    border-radius: 10px;
    width:336px ;
    height:36px ;
    background-color:#B43AFF;
    border: 0px;
    color:#FFFFFF ;
    margin-top: 10px;
}
.Sign3:hover{
    background-color:#FF3AE0 ;
}


.Sign4 {
    border-radius: 10px;
    width:441px ;
    height:36px ;
    background-color:#E9E9E9;
    border: 0px;
    color:#000000 ;
    margin-top: 10px;
}
.Sign4:hover{
    background-color:#ABABAB ;
}


.Sign5 {
    border-radius: 10px;
    width:559px ;
    height:36px ;
    background-color:#FFD43A;
    border: 0px;
    color:#000000 ;
    margin-top: 10px;
}
@font-face {
    font-family:fonts;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
.Sign1 {
    font-family: fonts;
}
.Sign2 {
    font-family: fonts;
}  
.Sign3 {
    font-family: fonts;
}
.Sign4 {
    font-family: fonts;
}
.Sign5 {
    font-family: fonts;
}
  
   


