.child1{
    border-radius: 10px;
    width:115px ;
    height:38px ;
    background-color:#FFD43A ;
    border: 0px;
}
.child1:hover {
    background-color:#8CFF98 ;
}


.child2 {
    border-radius: 10px;
    width:285px ;
    height:36px ;
    background-color:#000000;
    border: 0px;
    color:#FFFFFF ;
    margin-top: 10px;
}
.child2:hover{
    background-color:#D3D3D3 ;
}


.child3 {
    border-radius: 10px;
    width:336px ;
    height:36px ;
    background-color:#B43AFF;
    border: 0px;
    color:#FFFFFF ;
    margin-top: 10px;
}
.child3:hover{
    background-color:#FF3AE0 ;
}


.child4 {
    border-radius: 10px;
    width:441px ;
    height:36px ;
    background-color:#E9E9E9;
    border: 0px;
    color:#000000 ;
    margin-top: 10px;
}
.child4:hover{
    background-color:#ABABAB ;
}


.child5 {
    border-radius: 10px;
    width:559px ;
    height:36px ;
    background-color:#FFD43A;
    border: 0px;
    color:#000000 ;
    margin-top: 10px;
}
@font-face {
    font-family:fonts;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
.child1 {
    font-family: fonts;
}
.child2 {
    font-family: fonts;
}  
.child3 {
    font-family: fonts;
}
.child4 {
    font-family: fonts;
}
.child5 {
    font-family: fonts;
}
  
   

